@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 100vh;
  width: 100%;
  z-index: 20;
}

body {
  /* font-family: 'Caveat', cursive; */
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
  align-items: start;
  margin-top: 80px;
  position: fixed;
  left: 10px;
  z-index: 50;
  gap: 20px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
}

.wrapper.active {
  height: fit-content;
}

aside {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  height: 80%;
  width: 280px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

aside:hover {
  background-color: rgb(53, 51, 51);
}

aside h1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  font-family: "Caveat", cursive;
  font-size: 33px;
  letter-spacing: 5px;
  background-color: rgb(53, 51, 51);
  border-radius: 10px;
  margin: 10px;
  padding: 5px 0;
}

/* ----------başlıkk tooggel */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/* ----------başlıkk tooggel */

form {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  transition: all 0.3s;
}

form.active {
  display: none;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form select {
  padding: 6px 10px;
  border: none;
  outline-color: orange;
  border-radius: 10px;
  font-size: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons button {
  font-family: "poppins";
  flex: 1;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.buttons button:first-child {
  background-color: rgb(154, 154, 154);
}

.buttons button:hover {
  filter: brightness(70%);
  box-shadow: 0 0 20px rgb(209, 126, 18);
}

ul {
  height: 100%;
  margin: 0 20px;
  margin-top: 10px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.714);
  border-radius: 40px;
  height: 20px;
}

ul.active {
  display: none;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: rgba(70, 70, 70);
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

li p:first-child {
  font-family: "Caveat", cursive;
  font-size: 30px;
  color: rgb(255, 113, 61);
}

li p span:first-child {
  font-weight: bold;
}

li .icons {
  display: flex;
  gap: 10px;
}

li i {
  cursor: pointer;
  font-size: 21px;
  transition: all 0.3s;
}

li .icons i:first-child:hover {
  filter: drop-shadow(0 0 10px rgb(0, 179, 255));
}

li .icons i:last-child:hover {
  filter: drop-shadow(0 0 10px red);
}

@media (max-width: 500px) {
  .wrapper {
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
    height: 100vh;
  }

  aside {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  aside h1 {
    border-radius: 0;
    margin: 0;
    padding: 20px 0;
  }
}
